CONFIG_VENDOR_SYSTEM76=y
CONFIG_BOARD_SYSTEM76_LEMP9=y

CONFIG_ONBOARD_VGA_IS_PRIMARY=y
CONFIG_VALIDATE_INTEL_DESCRIPTOR=y
CONFIG_BOOTSPLASH=y
# CONFIG_COMPRESS_SECONDARY_PAYLOAD is not set

#CONFIG_CONSOLE_SPI_FLASH=y
#CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
#CONFIG_DEFAULT_CONSOLE_LOGLEVEL_7=y

CONFIG_ANY_TOOLCHAIN=y

###CONFIG_USE_BLOBS=y


####
CONFIG_CBFS_SIZE=0xA00000

CONFIG_HAVE_IFD_BIN=y
CONFIG_HAVE_ME_BIN=y
#CONFIG_INTEL_GMA_ADD_VBT_DATA_FILE=y

#CONFIG_SUPPORT_CPU_UCODE_IN_CBFS=y
#CONFIG_USE_CPU_MICROCODE_CBFS_BINS=y
#CONFIG_CPU_MICROCODE_CBFS_DEFAULT_BINS=y

CONFIG_IFD_BIN_PATH="../../blobs/lemp9/fd.rom"
CONFIG_ME_BIN_PATH="../../blobs/lemp9/me.rom"

#CONFIG_INTEL_GMA_VBT_FILE="/vbt.rom"
#CONFIG_CPU_UCODE_BINARIES="/ucode.rom"

###CONFIG_ADD_FSP_BINARIES=y
###CONFIG_FSP_M_FILE="$(obj)/Fsp_M.fd"
###CONFIG_FSP_S_FILE="$(obj)/Fsp_S.fd"
####CONFIG_FSP_S_CBFS="fsps.bin"
####CONFIG_FSP_M_CBFS="fspm.bin"

# CONFIG_NO_POST is not set
#CONFIG_NO_GFX_INIT=y
###CONFIG_DISPLAY_FSP_CALLS_AND_STATUS=y
###CONFIG_FSP_M_XIP=y
# CONFIG_DRIVERS_INTEL_WIFI is not set

CONFIG_PAYLOAD_LINUX=y
##CONFIG_LINUX_COMMAND_LINE="intel_iommu=igfx_off quiet loglevel=3 video=eDP-1:1920x1080"
#CONFIG_LINUX_COMMAND_LINE="intel_iommu=igfx_off loglevel=3"
#CONFIG_LINUX_COMMAND_LINE="quiet video=eDP-1:1920x1080"

CONFIG_PAYLOAD_FILE="../../build/lemp9/bzImage"
CONFIG_LINUX_INITRD="../../build/lemp9/initrd.cpio.xz"


CONFIG_RUN_FSP_GOP=y
CONFIG_SMMSTORE=y

