# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_KERNEL_XZ=y
CONFIG_SYSVIPC=y
CONFIG_NO_HZ_IDLE=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_PREEMPT_VOLUNTARY=y

#CONFIG_BSD_PROCESS_ACCT=y
#CONFIG_BSD_PROCESS_ACCT_V3=y

#CONFIG_PSI=y
#CONFIG_NUMA_BALANCING=y
#CONFIG_MEMCG=y
#CONFIG_CFS_BANDWIDTH=y

#CONFIG_CGROUP_PIDS=y
#CONFIG_CGROUP_RDMA=y
#CONFIG_CGROUP_FREEZER=y
#CONFIG_CPUSETS=y
#CONFIG_CGROUP_DEVICE=y
#CONFIG_CGROUP_CPUACCT=y
#CONFIG_CGROUP_PERF=y
#CONFIG_CGROUP_BPF=y

#CONFIG_SCHED_AUTOGROUP=y

CONFIG_BLK_DEV_INITRD=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_EXPERT=y

#CONFIG_KALLSYMS_ALL=y
#CONFIG_BPF_SYSCALL=y
#CONFIG_USERFAULTFD=y

# CONFIG_COMPAT_BRK is not set
#CONFIG_SLAB_FREELIST_RANDOM=y
#CONFIG_SLAB_FREELIST_HARDENED=y
#CONFIG_PROFILING=y

CONFIG_SMP=y
CONFIG_X86_X2APIC=y
# CONFIG_X86_EXTENDED_PLATFORM is not set
CONFIG_X86_INTEL_LPSS=y
CONFIG_PROCESSOR_SELECT=y
# CONFIG_CPU_SUP_AMD is not set
# CONFIG_CPU_SUP_HYGON is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_CPU_SUP_ZHAOXIN is not set
CONFIG_NR_CPUS=512
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=y
CONFIG_X86_MCE_INJECT=y
CONFIG_MICROCODE_AMD=y
CONFIG_X86_MSR=y
CONFIG_X86_CPUID=y
CONFIG_NUMA=y
CONFIG_NUMA_EMU=y
CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFI_MIXED=y
CONFIG_KEXEC=y
CONFIG_KEXEC_FILE=y
#CONFIG_KEXEC_SIG=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_PM_DEBUG=y
CONFIG_PM_ADVANCED_DEBUG=y


###############

CONFIG_ACPI_DEBUGGER=y
CONFIG_ACPI_DEBUGGER_USER=y
CONFIG_ACPI_EC_DEBUGFS=y
CONFIG_ACPI_DOCK=y
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_ACPI_PCI_SLOT=y
CONFIG_ACPI_HOTPLUG_MEMORY=y
CONFIG_ACPI_SBS=y
CONFIG_ACPI_BGRT=y
CONFIG_ACPI_APEI=y
CONFIG_ACPI_APEI_GHES=y
CONFIG_ACPI_APEI_PCIEAER=y
CONFIG_ACPI_APEI_MEMORY_FAILURE=y
CONFIG_DPTF_POWER=y
CONFIG_ACPI_EXTLOG=y



CONFIG_PMIC_OPREGION=y
CONFIG_SFI=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_X86_ACPI_CPUFREQ=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_INTEL_IDLE=y
CONFIG_IA32_EMULATION=y
CONFIG_X86_X32=y
CONFIG_EDD=y
CONFIG_DMI_SYSFS=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_EFI_VARS=y
CONFIG_EFI_BOOTLOADER_CONTROL=y
CONFIG_EFI_CAPSULE_LOADER=y
CONFIG_RESET_ATTACK_MITIGATION=y
CONFIG_EFI_RCI2_TABLE=y
# CONFIG_VIRTUALIZATION is not set
CONFIG_OPROFILE=y
CONFIG_JUMP_LABEL=y
# CONFIG_BLOCK is not set
CONFIG_BINFMT_MISC=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_KSM=y
CONFIG_MEMORY_FAILURE=y
CONFIG_HWPOISON_INJECT=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_ZPOOL=y
CONFIG_ZBUD=y
CONFIG_Z3FOLD=y
CONFIG_ZSMALLOC=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_ZONE_DEVICE=y
CONFIG_HOTPLUG_PCI=y
CONFIG_HOTPLUG_PCI_ACPI=y
CONFIG_HOTPLUG_PCI_ACPI_IBM=y
CONFIG_HOTPLUG_PCI_SHPC=y
CONFIG_VMD=y

CONFIG_FW_LOADER_USER_HELPER=y
#CONFIG_MTD=y
#CONFIG_MTD_OOPS=y
#CONFIG_MTD_CFI=y
#CONFIG_MTD_JEDECPROBE=y
#CONFIG_MTD_CFI_INTELEXT=y
#CONFIG_MTD_CFI_AMDSTD=y
#CONFIG_MTD_CFI_STAA=y
#CONFIG_MTD_ROM=y
#CONFIG_MTD_ABSENT=y
#CONFIG_MTD_COMPLEX_MAPPINGS=y
#CONFIG_MTD_PHYSMAP=y
#CONFIG_MTD_SBC_GXX=y
#CONFIG_MTD_NETtel=y
#CONFIG_MTD_PCI=y
#CONFIG_MTD_PLATRAM=y
#CONFIG_MTD_DATAFLASH=y
#CONFIG_MTD_MCHP23K256=y
#CONFIG_MTD_SST25L=y
#CONFIG_MTD_SLRAM=y
#CONFIG_MTD_PHRAM=y
#CONFIG_MTD_MTDRAM=y
#CONFIG_MTD_LPDDR=y
#CONFIG_MTD_SPI_NOR=y
#CONFIG_SPI_INTEL_SPI_PCI=y
#CONFIG_SPI_INTEL_SPI_PLATFORM=y
# CONFIG_PNP_DEBUG_MESSAGES is not set

#CONFIG_EEPROM_AT24=y
#CONFIG_EEPROM_AT25=y
#CONFIG_EEPROM_LEGACY=y
#CONFIG_EEPROM_MAX6875=y
#CONFIG_EEPROM_EE1004=y

CONFIG_EEPROM_93CX6=m

CONFIG_INTEL_MIC_BUS=y
CONFIG_SCIF_BUS=y
CONFIG_VOP_BUS=y
CONFIG_INTEL_MIC_HOST=y
CONFIG_SCIF=y
CONFIG_MIC_COSM=y
CONFIG_VOP=y
#CONFIG_FIREWIRE=y
#CONFIG_FIREWIRE_OHCI=y
#CONFIG_FIREWIRE_NOSY=y

#CONFIG_INPUT_MOUSEDEV=y
#CONFIG_INPUT_MOUSEDEV_PSAUX=y
#CONFIG_INPUT_JOYDEV=y
#CONFIG_INPUT_EVDEV=y
#CONFIG_KEYBOARD_GPIO=y
#CONFIG_KEYBOARD_MATRIX=y
#CONFIG_KEYBOARD_XTKBD=y
# CONFIG_MOUSE_PS2_ALPS is not set
# CONFIG_MOUSE_PS2_BYD is not set
# CONFIG_MOUSE_PS2_LOGIPS2PP is not set
# CONFIG_MOUSE_PS2_SYNAPTICS is not set
# CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS is not set
# CONFIG_MOUSE_PS2_CYPRESS is not set
# CONFIG_MOUSE_PS2_LIFEBOOK is not set
# CONFIG_MOUSE_PS2_TRACKPOINT is not set
CONFIG_MOUSE_PS2_ELANTECH=y
# CONFIG_MOUSE_PS2_FOCALTECH is not set
CONFIG_MOUSE_SERIAL=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_MOUSE_ELAN_I2C_SMBUS=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_MOUSE_SYNAPTICS_USB=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_PCSPKR=y
CONFIG_INPUT_UINPUT=y
#CONFIG_RMI4_I2C=y
#CONFIG_RMI4_SPI=y
#CONFIG_RMI4_SMB=y
#CONFIG_RMI4_F34=y
#CONFIG_RMI4_F55=y
#CONFIG_SERIO_CT82C710=y
#CONFIG_SERIO_PCIPS2=y
#CONFIG_SERIO_RAW=y
# CONFIG_LEGACY_PTYS is not set
CONFIG_NOZOMI=y
CONFIG_SERIAL_8250=y
# CONFIG_SERIAL_8250_DEPRECATED_OPTIONS is not set
#CONFIG_SERIAL_8250_FINTEK=y
#CONFIG_SERIAL_8250_CONSOLE=y
#CONFIG_SERIAL_8250_NR_UARTS=32
#CONFIG_SERIAL_8250_EXTENDED=y
#CONFIG_SERIAL_8250_MANY_PORTS=y
#CONFIG_SERIAL_8250_SHARE_IRQ=y
#CONFIG_SERIAL_8250_RSA=y
#CONFIG_SERIAL_8250_DW=y

# CONFIG_SERIAL_8250_LPSS is not set
#CONFIG_SERIAL_JSM=y
#CONFIG_SERIAL_RP2=y
#CONFIG_SERIAL_DEV_BUS=y

CONFIG_TTY_PRINTK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_NVRAM=y
CONFIG_HPET=y
CONFIG_HANGCHECK_TIMER=y

CONFIG_PNP=y
CONFIG_PNPACPI=y
CONFIG_ACPI=y

CONFIG_TCG_TPM=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TCG_TIS=y
CONFIG_TCG_TIS_I2C_ATMEL=y
CONFIG_TCG_TIS_I2C_INFINEON=y
CONFIG_TCG_TIS_I2C_NUVOTON=y
CONFIG_TCG_NSC=y
CONFIG_TCG_ATMEL=y
CONFIG_TCG_INFINEON=y
CONFIG_TCG_CRB=y
CONFIG_TCG_VTPM_PROXY=y
CONFIG_TCG_TIS_ST33ZP24_I2C=y



#CONFIG_I2C_CHARDEV=y
CONFIG_I2C_MUX=y
CONFIG_I2C_MUX_PCA9541=m
CONFIG_I2C_MUX_REG=m
CONFIG_I2C_SLAVE=y
#CONFIG_I2C_I801=y
#CONFIG_I2C_ISCH=y
#CONFIG_I2C_ISMT=y
#CONFIG_I2C_PIIX4=y
#CONFIG_I2C_SCMI=y
#CONFIG_I2C_CBUS_GPIO=y
#CONFIG_I2C_DESIGNWARE_PLATFORM=y
#CONFIG_I2C_DESIGNWARE_SLAVE=y
#CONFIG_I2C_DESIGNWARE_PCI=y
#CONFIG_I2C_DESIGNWARE_BAYTRAIL=y


#CONFIG_SPI=y
#CONFIG_SPI_BITBANG=y
#CONFIG_SPI_SPIDEV=y
#CONFIG_PINCTRL_BAYTRAIL=y
#CONFIG_PINCTRL_CANNONLAKE=y
#CONFIG_PINCTRL_ICELAKE=y
#CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_IT87=y

#CONFIG_W1=y
#CONFIG_W1_MASTER_DS2490=y
#CONFIG_W1_MASTER_DS2482=y
#CONFIG_W1_MASTER_GPIO=y
#CONFIG_W1_SLAVE_THERM=y
#CONFIG_W1_SLAVE_SMEM=y
#CONFIG_W1_SLAVE_DS2405=y
#CONFIG_W1_SLAVE_DS2408=y
#CONFIG_W1_SLAVE_DS2413=y
#CONFIG_W1_SLAVE_DS2406=y
#CONFIG_W1_SLAVE_DS2423=y
#CONFIG_W1_SLAVE_DS2805=y
#CONFIG_W1_SLAVE_DS2431=y
#CONFIG_W1_SLAVE_DS2433=y
#CONFIG_W1_SLAVE_DS2438=y
#CONFIG_W1_SLAVE_DS2780=y
#CONFIG_W1_SLAVE_DS2781=y
#CONFIG_W1_SLAVE_DS28E04=y
#CONFIG_W1_SLAVE_DS28E17=y


#CONFIG_POWER_AVS=y
#CONFIG_BATTERY_DS2760=y
#CONFIG_BATTERY_SBS=y
#CONFIG_BATTERY_BQ27XXX=y
# CONFIG_BATTERY_BQ27XXX_I2C is not set
#CONFIG_BATTERY_MAX17040=y
#CONFIG_BATTERY_MAX17042=y
#CONFIG_CHARGER_MAX8903=y
#CONFIG_SENSORS_AD7414=y
#CONFIG_SENSORS_AD7418=y
#CONFIG_SENSORS_ADM1021=y
#CONFIG_SENSORS_ADM1025=y
#CONFIG_SENSORS_ADM1026=y
#CONFIG_SENSORS_ADM1029=y
#CONFIG_SENSORS_ADM1031=y
#CONFIG_SENSORS_ADM9240=y
#CONFIG_SENSORS_ADT7462=y
#CONFIG_SENSORS_ADT7470=y
#CONFIG_SENSORS_ADT7475=y
#CONFIG_SENSORS_DS620=y
#CONFIG_SENSORS_DS1621=y
#CONFIG_SENSORS_DELL_SMM=y
#CONFIG_SENSORS_F71805F=y
#CONFIG_SENSORS_I5500=y
#CONFIG_SENSORS_CORETEMP=y
#CONFIG_SENSORS_IT87=y
#CONFIG_SENSORS_JC42=y
#CONFIG_SENSORS_LINEAGE=y
#CONFIG_SENSORS_LTC4151=y
#CONFIG_SENSORS_LTC4215=y
#CONFIG_SENSORS_LTC4245=y
#CONFIG_SENSORS_LTC4261=y
#CONFIG_SENSORS_MAX1111=y
#CONFIG_SENSORS_MAX16065=y
#CONFIG_SENSORS_MAX1619=y
#CONFIG_SENSORS_MAX1668=y
#CONFIG_SENSORS_MAX6639=y
#CONFIG_SENSORS_MAX6642=y
#CONFIG_SENSORS_MAX6650=y
#CONFIG_SENSORS_ADCXX=y
#CONFIG_SENSORS_LM63=y
#CONFIG_SENSORS_LM70=y
#CONFIG_SENSORS_LM73=y
#CONFIG_SENSORS_LM75=y
#CONFIG_SENSORS_LM77=y
#CONFIG_SENSORS_LM78=y
#CONFIG_SENSORS_LM80=y
#CONFIG_SENSORS_LM83=y
#CONFIG_SENSORS_LM85=y
#CONFIG_SENSORS_LM87=y
#CONFIG_SENSORS_LM90=y
#CONFIG_SENSORS_LM92=y
#CONFIG_SENSORS_LM93=y
#CONFIG_SENSORS_LM95241=y
#CONFIG_SENSORS_LM95245=y
#CONFIG_SENSORS_PC87360=y
#CONFIG_SENSORS_PC87427=y
#CONFIG_SENSORS_NTC_THERMISTOR=y
#CONFIG_PMBUS=y
#CONFIG_SENSORS_SHT21=y
#CONFIG_SENSORS_SIS5595=y
#CONFIG_SENSORS_DME1737=y
#CONFIG_SENSORS_EMC1403=y
#CONFIG_SENSORS_EMC2103=y
#CONFIG_SENSORS_EMC6W201=y
#CONFIG_SENSORS_SMSC47M1=y
#CONFIG_SENSORS_SMSC47M192=y
#CONFIG_SENSORS_SMSC47B397=y
#CONFIG_SENSORS_SCH5627=y
#CONFIG_SENSORS_SCH5636=y
#CONFIG_SENSORS_SMM665=y
#CONFIG_SENSORS_ADS7828=y
#CONFIG_SENSORS_ADS7871=y
#CONFIG_SENSORS_AMC6821=y
#CONFIG_SENSORS_THMC50=y
#CONFIG_SENSORS_TMP102=y
#CONFIG_SENSORS_TMP401=y
#CONFIG_SENSORS_TMP421=y
#CONFIG_SENSORS_W83781D=y
#CONFIG_SENSORS_W83791D=y
#CONFIG_SENSORS_W83792D=y
#CONFIG_SENSORS_W83793=y
#CONFIG_SENSORS_W83795=y
#CONFIG_SENSORS_W83L785TS=y
#CONFIG_SENSORS_W83L786NG=y
#CONFIG_SENSORS_W83627HF=y
#CONFIG_SENSORS_W83627EHF=y
#CONFIG_SENSORS_ACPI_POWER=y

CONFIG_THERMAL_STATISTICS=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_THERMAL_GOV_BANG_BANG=y
CONFIG_DEVFREQ_THERMAL=y
CONFIG_INTEL_POWERCLAMP=y
CONFIG_INTEL_SOC_DTS_THERMAL=y
CONFIG_INT340X_THERMAL=y
CONFIG_INT3406_THERMAL=y
CONFIG_INTEL_PCH_THERMAL=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_WDAT_WDT=y
CONFIG_I6300ESB_WDT=y
CONFIG_IE6XX_WDT=y
CONFIG_ITCO_WDT=y
CONFIG_ITCO_VENDOR_SUPPORT=y
CONFIG_IT8712F_WDT=y
CONFIG_IT87_WDT=y
CONFIG_LPC_ICH=y
CONFIG_MFD_INTEL_LPSS_ACPI=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_REGULATOR=y
CONFIG_AGP=y
CONFIG_AGP_INTEL=y
CONFIG_AGP_SIS=y
CONFIG_AGP_VIA=y

### take!
CONFIG_DRM=y
CONFIG_DRM_DP_AUX_CHARDEV=y
CONFIG_DRM_LOAD_EDID_FIRMWARE=y
CONFIG_DRM_DP_CEC=y
### take!
CONFIG_DRM_I915=y
CONFIG_DRM_I915_GVT=y
CONFIG_DRM_VGEM=y
CONFIG_DRM_VMWGFX=y
CONFIG_DRM_VMWGFX_FBCON=y
CONFIG_DRM_UDL=y
CONFIG_DRM_QXL=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_DRM_ANALOGIX_ANX78XX=y



CONFIG_FIRMWARE_EDID=y
CONFIG_FB_TILEBLITTING=y
CONFIG_FB_VGA16=y

### take!
CONFIG_FB_VESA=y

CONFIG_FB_EFI=y
CONFIG_FB_UDL=y
CONFIG_FB_SIMPLE=y



# CONFIG_BACKLIGHT_GENERIC is not set
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
#CONFIG_HID_BATTERY_STRENGTH=y
#CONFIG_HIDRAW=y
#CONFIG_UHID=y
#CONFIG_HID_A4TECH=y
#CONFIG_HID_ACCUTOUCH=y
#CONFIG_HID_ACRUX=y
#CONFIG_HID_ACRUX_FF=y
#CONFIG_HID_APPLE=y
#CONFIG_HID_APPLEIR=y
#CONFIG_HID_ASUS=y
#CONFIG_HID_AUREAL=y
#CONFIG_HID_BELKIN=y
#CONFIG_HID_BETOP_FF=y
#CONFIG_HID_BIGBEN_FF=y
#CONFIG_HID_CHERRY=y
#CONFIG_HID_CHICONY=y
#CONFIG_HID_CORSAIR=y
#CONFIG_HID_COUGAR=y
#CONFIG_HID_MACALLY=y
#CONFIG_HID_CMEDIA=y
#CONFIG_HID_CP2112=y
#CONFIG_HID_CYPRESS=y
#CONFIG_HID_DRAGONRISE=y
#CONFIG_DRAGONRISE_FF=y
#CONFIG_HID_EMS_FF=y
#CONFIG_HID_ELAN=y
#CONFIG_HID_ELECOM=y
#CONFIG_HID_ELO=y
#CONFIG_HID_EZKEY=y
#CONFIG_HID_GEMBIRD=y
#CONFIG_HID_GFRM=y
#CONFIG_HID_HOLTEK=y
#CONFIG_HOLTEK_FF=y
#CONFIG_HID_GT683R=y
#CONFIG_HID_KEYTOUCH=y
#CONFIG_HID_KYE=y
#CONFIG_HID_UCLOGIC=y
#CONFIG_HID_WALTOP=y
#CONFIG_HID_VIEWSONIC=y
#CONFIG_HID_GYRATION=y
#CONFIG_HID_ICADE=y
#CONFIG_HID_ITE=y
#CONFIG_HID_JABRA=y
#CONFIG_HID_TWINHAN=y
#CONFIG_HID_KENSINGTON=y
#CONFIG_HID_LCPOWER=y
#CONFIG_HID_LENOVO=y
#CONFIG_HID_LOGITECH=y
#CONFIG_HID_LOGITECH_DJ=y
#CONFIG_LOGITECH_FF=y
#CONFIG_LOGIRUMBLEPAD2_FF=y
#CONFIG_LOGIG940_FF=y
#CONFIG_HID_MAGICMOUSE=y
#CONFIG_HID_MALTRON=y
#CONFIG_HID_MAYFLASH=y
#CONFIG_HID_REDRAGON=y
#CONFIG_HID_MICROSOFT=y
#CONFIG_HID_MONTEREY=y
#CONFIG_HID_MULTITOUCH=y
#CONFIG_HID_NTI=y
#CONFIG_HID_NTRIG=y
#CONFIG_HID_ORTEK=y
#CONFIG_HID_PANTHERLORD=y
#CONFIG_PANTHERLORD_FF=y
#CONFIG_HID_PENMOUNT=y
#CONFIG_HID_PETALYNX=y
#CONFIG_HID_PICOLCD=y
#CONFIG_HID_PICOLCD_FB=y
#CONFIG_HID_PICOLCD_BACKLIGHT=y
#CONFIG_HID_PICOLCD_LEDS=y
#CONFIG_HID_PLANTRONICS=y
#CONFIG_HID_PRIMAX=y
#CONFIG_HID_RETRODE=y
#CONFIG_HID_ROCCAT=y
#CONFIG_HID_SAITEK=y
#CONFIG_HID_SAMSUNG=y
#CONFIG_HID_SONY=y
#CONFIG_SONY_FF=y
#CONFIG_HID_SPEEDLINK=y
#CONFIG_HID_STEAM=y
#CONFIG_HID_STEELSERIES=y
#CONFIG_HID_SUNPLUS=y
#CONFIG_HID_RMI=y
#CONFIG_HID_GREENASIA=y
#CONFIG_GREENASIA_FF=y
#CONFIG_HID_SMARTJOYPLUS=y
#CONFIG_SMARTJOYPLUS_FF=y
#CONFIG_HID_TIVO=y
#CONFIG_HID_TOPSEED=y
#CONFIG_HID_THINGM=y
#CONFIG_HID_THRUSTMASTER=y
#CONFIG_THRUSTMASTER_FF=y
#CONFIG_HID_UDRAW_PS3=y
#CONFIG_HID_U2FZERO=y
#CONFIG_HID_WACOM=y
#CONFIG_HID_WIIMOTE=y
#CONFIG_HID_XINMO=y
#CONFIG_HID_ZEROPLUS=y
#CONFIG_ZEROPLUS_FF=y
#CONFIG_HID_ZYDACRON=y
#CONFIG_HID_SENSOR_HUB=y
#CONFIG_HID_SENSOR_CUSTOM_SENSOR=y
#CONFIG_HID_ALPS=y
#CONFIG_HID_PID=y
#CONFIG_USB_HIDDEV=y
#CONFIG_I2C_HID=y
#CONFIG_INTEL_ISH_HID=y
#CONFIG_USB_LED_TRIG=y
#CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
#CONFIG_USB_DYNAMIC_MINORS=y
#CONFIG_USB_LEDS_TRIGGER_USBPORT=y
#CONFIG_USB_MON=y
#CONFIG_USB_EZUSB_FX2=y
#CONFIG_USB_CHAOSKEY=y
#CONFIG_TYPEC=y
#CONFIG_TYPEC_TCPM=y
#CONFIG_TYPEC_FUSB302=y
#CONFIG_TYPEC_UCSI=y
#CONFIG_UCSI_ACPI=y
#CONFIG_TYPEC_TPS6598X=y
#CONFIG_TYPEC_DP_ALTMODE=y
#CONFIG_TYPEC_NVIDIA_ALTMODE=y
#CONFIG_LEDS_BRIGHTNESS_HW_CHANGED=y
#CONFIG_LEDS_APU=y
#CONFIG_LEDS_GPIO=y
#CONFIG_LEDS_LP3944=y
#CONFIG_LEDS_CLEVO_MAIL=y
#CONFIG_LEDS_PCA955X=y
#CONFIG_LEDS_DAC124S085=y
#CONFIG_LEDS_REGULATOR=y
#CONFIG_LEDS_BD2802=y
#CONFIG_LEDS_INTEL_SS4200=y
#CONFIG_LEDS_TRIGGER_TIMER=y
#CONFIG_LEDS_TRIGGER_ONESHOT=y
#CONFIG_LEDS_TRIGGER_MTD=y
#CONFIG_LEDS_TRIGGER_HEARTBEAT=y
#CONFIG_LEDS_TRIGGER_BACKLIGHT=y
#CONFIG_LEDS_TRIGGER_CPU=y
#CONFIG_LEDS_TRIGGER_GPIO=y
#CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
#CONFIG_LEDS_TRIGGER_TRANSIENT=y
#CONFIG_LEDS_TRIGGER_CAMERA=y
#CONFIG_LEDS_TRIGGER_PANIC=y
#CONFIG_LEDS_TRIGGER_AUDIO=y
#CONFIG_EDAC=y
#CONFIG_EDAC_E752X=y
#CONFIG_EDAC_I82975X=y
#CONFIG_EDAC_I3000=y
#CONFIG_EDAC_I3200=y
#CONFIG_EDAC_IE31200=y
#CONFIG_EDAC_X38=y
#CONFIG_EDAC_I5400=y
#CONFIG_EDAC_I7CORE=y
#CONFIG_EDAC_I5000=y
#CONFIG_EDAC_I5100=y
#CONFIG_EDAC_I7300=y
#CONFIG_EDAC_SBRIDGE=y
#CONFIG_EDAC_SKX=y
#CONFIG_EDAC_PND2=y
CONFIG_RTC_CLASS=y
CONFIG_DMADEVICES=y
CONFIG_INTEL_IDMA64=y
CONFIG_INTEL_IOATDMA=y
CONFIG_INTEL_MIC_X100_DMA=y
CONFIG_DW_DMAC=y
CONFIG_ASYNC_TX_DMA=y

# CONFIG_VIRTIO_MENU is not set
#CONFIG_ALIENWARE_WMI=y

CONFIG_ACPI_WMI=y
CONFIG_INTEL_WMI_THUNDERBOLT=y
CONFIG_PEAQ_WMI=y
CONFIG_INTEL_INT0002_VGPIO=y
CONFIG_INTEL_HID_EVENT=y
CONFIG_INTEL_VBTN=y
CONFIG_INTEL_IPS=y
CONFIG_INTEL_PMC_CORE=y
CONFIG_IBM_RTL=y
CONFIG_MXM_WMI=y
CONFIG_INTEL_RST=y
CONFIG_INTEL_SMARTCONNECT=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_INTEL_TURBO_MAX_3=y
CONFIG_I2C_MULTI_INSTANTIATE=y
CONFIG_INTEL_IOMMU=y
CONFIG_INTEL_IOMMU_SVM=y
# CONFIG_INTEL_IOMMU_DEFAULT_ON is not set

#CONFIG_IRQ_REMAP=y
#CONFIG_PM_DEVFREQ=y
#CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
#CONFIG_GENERIC_PHY=y
#CONFIG_DAX=y
#CONFIG_DEV_DAX=y
#CONFIG_EXPORTFS_BLOCK_OPS=y
#CONFIG_FS_ENCRYPTION=y
#CONFIG_FANOTIFY=y
#CONFIG_FANOTIFY_ACCESS_PERMISSIONS=y
#CONFIG_QUOTA=y
#CONFIG_AUTOFS_FS=y
#CONFIG_OVERLAY_FS=y
#CONFIG_FSCACHE=y
#CONFIG_FSCACHE_STATS=y
#CONFIG_PROC_KCORE=y
#CONFIG_PROC_CHILDREN=y
#CONFIG_TMPFS_POSIX_ACL=y
#CONFIG_HUGETLBFS=y
#CONFIG_CONFIGFS_FS=y
#CONFIG_PSTORE_LZO_COMPRESS=y
#CONFIG_PSTORE_LZ4_COMPRESS=y
#CONFIG_PSTORE_RAM=y
# CONFIG_HARDENED_USERCOPY_FALLBACK is not set


# CONFIG_XZ_DEC_POWERPC is not set
# CONFIG_XZ_DEC_IA64 is not set
# CONFIG_XZ_DEC_ARM is not set
# CONFIG_XZ_DEC_ARMTHUMB is not set
# CONFIG_XZ_DEC_SPARC is not set
CONFIG_IRQ_POLL=y

CONFIG_FONTS=y
CONFIG_FONT_8x8=y
CONFIG_FONT_TER16x32=y

CONFIG_PRINTK_TIME=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_DYNAMIC_DEBUG=y

CONFIG_DEBUG_INFO=y
CONFIG_STRIP_ASM_SYMS=y
CONFIG_DEBUG_FS=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_MAGIC_SYSRQ_DEFAULT_ENABLE=0x01b6
# CONFIG_DEBUG_MISC is not set
#CONFIG_PAGE_POISONING=y
#CONFIG_PAGE_POISONING_NO_SANITY=y
#CONFIG_DEBUG_MEMORY_INIT=y

CONFIG_HARDLOCKUP_DETECTOR=y
# CONFIG_SCHED_DEBUG is not set
CONFIG_SCHED_STACK_END_CHECK=y
# CONFIG_DEBUG_BUGVERBOSE is not set
# CONFIG_RCU_TRACE is not set
# CONFIG_FTRACE is not set
# CONFIG_RUNTIME_TESTING_MENU is not set
CONFIG_BUG_ON_DATA_CORRUPTION=y
# CONFIG_STRICT_DEVMEM is not set
# CONFIG_X86_VERBOSE_BOOTUP is not set
#CONFIG_DEBUG_WX=y
# CONFIG_X86_DEBUG_FPU is not set


#CONFIG_INTEGRITY_SIGNATURE=n
#CONFIG_INTEGRITY_ASYMMETRIC_KEYS=n
#CONFIG_INTEGRITY_TRUSTED_KEYRING=n
#CONFIG_PERSISTENT_KEYRINGS=n
#CONFIG_KEY_DH_OPERATIONS=n
#CONFIG_SECURITY_DMESG_RESTRICT=n
#CONFIG_SECURITY=n
#CONFIG_SECURITY_NETWORK=n
#CONFIG_SECURITY_PATH=n
#CONFIG_HARDENED_USERCOPY=n
#
######
###### VERIFIED STUFF
######
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_X509_CERTIFICATE_PARSER=n
# CONFIG_PKCS8_PRIVATE_KEY_PARSER is not set
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_MODULE_SIG_FORMAT=n

CONFIG_PCI=y
CONFIG_PCIEPORTBUS=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_PCIEAER_INJECT=y
CONFIG_PCIE_DPC=y
CONFIG_PCIE_PTM=y
CONFIG_PCI_MSI=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_PCI_STUB=y
CONFIG_PCI_PF_STUB=y
CONFIG_PCI_PRI=y
CONFIG_PCI_IOV=y



CONFIG_FS_VERITY=n
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=n

CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

CONFIG_FORTIFY_SOURCE=n
CONFIG_SECURITY_YAMA=n
CONFIG_SECURITY_LOCKDOWN_LSM=n
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=n
#CONFIG_LSM="lockdown,yama,loadpin,safesetid,integrity,apparmor,selinux,smack,tomoyo,bpf"
CONFIG_CRYPTO_FIPS=n

CONFIG_DEFAULT_MMAP_MIN_ADDR=65536
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_SYN_COOKIES=y

CONFIG_NLS_DEFAULT="utf8"
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y


CONFIG_MODULES=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=m
CONFIG_USB_XHCI_PLATFORM=m
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_EHCI_HCD_PLATFORM=m
CONFIG_USB_STORAGE=m
CONFIG_RTC_CLASS=y
# CONFIG_X86_PLATFORM_DEVICES is not set
CONFIG_INTEL_IOMMU=y
CONFIG_INTEL_IOMMU_SVM=y
CONFIG_GENERIC_PHY=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SR=y
CONFIG_CHR_DEV_SG=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_ISCSI_TCP=y

CONFIG_ATA=y
CONFIG_SATA_AHCI=y

CONFIG_BLOCK=y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_MULTIPATH=y
CONFIG_BLK_DEV_NVME=y

CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=65536
CONFIG_EEPROM_93CX6=m
CONFIG_INTEL_MEI_ME=m
CONFIG_INTEL_MEI_TXE=m
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y
CONFIG_DM_VERITY=y
CONFIG_DM_VERITY_FEC=y
CONFIG_NETDEVICES=y

CONFIG_E1000=m
CONFIG_E1000E=m

CONFIG_TTY_PRINTK=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_TIMERIOMEM=m
CONFIG_HW_RANDOM_INTEL=m
CONFIG_HW_RANDOM_AMD=m
CONFIG_HW_RANDOM_VIA=m
CONFIG_TCG_TPM=y
CONFIG_TCG_TIS=y
# CONFIG_I2C_COMPAT is not set
CONFIG_I2C_MUX=m
CONFIG_I2C_MUX_PCA9541=m
CONFIG_I2C_MUX_REG=m
# CONFIG_I2C_HELPER_AUTO is not set
CONFIG_I2C_SLAVE=y
CONFIG_PTP_1588_CLOCK=y
# CONFIG_HWMON is not set
# CONFIG_X86_PKG_TEMP_THERMAL is not set
CONFIG_MFD_SYSCON=y
CONFIG_DRM=y
CONFIG_DRM_I915=y
CONFIG_DRM_AST=y
CONFIG_FB_VESA=y
# CONFIG_BACKLIGHT_GENERIC is not set
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=m
CONFIG_USB_XHCI_PLATFORM=m
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_EHCI_HCD_PLATFORM=m
CONFIG_USB_STORAGE=m
CONFIG_RTC_CLASS=y
# CONFIG_X86_PLATFORM_DEVICES is not set
CONFIG_INTEL_IOMMU=y
CONFIG_INTEL_IOMMU_SVM=y
# CONFIG_BLK_DEV_PMEM is not set
# CONFIG_ND_BLK is not set
# CONFIG_BTT is not set
CONFIG_EXT4_FS=y
# CONFIG_DNOTIFY is not set
# CONFIG_INOTIFY_USER is not set
CONFIG_ISO9660_FS=y
CONFIG_JOLIET=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y

CONFIG_STACKTRACE=y


# CONFIG_CRYPTO_MANAGER_DISABLE_TESTS is not set
CONFIG_HARDENED_USERCOPY=y
CONFIG_CRYPTO_USER=y
CONFIG_CRYPTO_RSA=m
CONFIG_CRYPTO_CCM=m
CONFIG_CRYPTO_GCM=m
CONFIG_CRYPTO_CHACHA20POLY1305=m
CONFIG_CRYPTO_CTS=m
CONFIG_CRYPTO_LRW=y
CONFIG_CRYPTO_PCBC=m
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_KEYWRAP=m
CONFIG_CRYPTO_CMAC=m
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_XCBC=m
CONFIG_CRYPTO_VMAC=m
CONFIG_CRYPTO_CRC32C_INTEL=y
CONFIG_CRYPTO_CRC32=m
CONFIG_CRYPTO_CRC32_PCLMUL=m
CONFIG_CRYPTO_CRCT10DIF_PCLMUL=m
CONFIG_CRYPTO_POLY1305_X86_64=m
CONFIG_CRYPTO_MD4=m
CONFIG_CRYPTO_MICHAEL_MIC=m
CONFIG_CRYPTO_RMD128=m
CONFIG_CRYPTO_RMD160=m
CONFIG_CRYPTO_RMD256=m
CONFIG_CRYPTO_RMD320=m
CONFIG_CRYPTO_SHA1_SSSE3=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_TGR192=m
CONFIG_CRYPTO_WP512=m
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=m
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_ANUBIS=m
CONFIG_CRYPTO_ARC4=m
CONFIG_CRYPTO_BLOWFISH=m
CONFIG_CRYPTO_BLOWFISH_X86_64=m
CONFIG_CRYPTO_CAMELLIA=m
CONFIG_CRYPTO_CAMELLIA_AESNI_AVX2_X86_64=m
CONFIG_CRYPTO_CAST5_AVX_X86_64=m
CONFIG_CRYPTO_CAST6_AVX_X86_64=m
CONFIG_CRYPTO_DES3_EDE_X86_64=m
CONFIG_CRYPTO_FCRYPT=m
CONFIG_CRYPTO_KHAZAD=m
CONFIG_CRYPTO_SALSA20=m
CONFIG_CRYPTO_CHACHA20_X86_64=m
CONFIG_CRYPTO_SEED=m
CONFIG_CRYPTO_SERPENT_SSE2_X86_64=m
CONFIG_CRYPTO_SERPENT_AVX2_X86_64=m
CONFIG_CRYPTO_TEA=m
CONFIG_CRYPTO_TWOFISH=m
CONFIG_CRYPTO_TWOFISH_AVX_X86_64=m
CONFIG_CRYPTO_DEFLATE=m
CONFIG_CRYPTO_LZO=y
CONFIG_CRYPTO_842=m
CONFIG_CRYPTO_LZ4=m
CONFIG_CRYPTO_LZ4HC=m
CONFIG_CRYPTO_ANSI_CPRNG=m
CONFIG_CRYPTO_DRBG_HASH=y
CONFIG_CRYPTO_DRBG_CTR=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_CRYPTO_USER_API_AEAD=y
# CONFIG_CRYPTO_HW is not set
CONFIG_CORDIC=m
CONFIG_CRC_CCITT=m
CONFIG_CRC_T10DIF=y
CONFIG_CRC_ITU_T=m
CONFIG_CRC7=m
CONFIG_LIBCRC32C=m
CONFIG_CRC8=m



